<h1>Flow target for {{ flow_target.name }}</h1>

<ul>
    {% for element in flow_target.gradedflowtargetelement_set.all %}
        <li>
            From {{ element.from_month }}-{{ element.from_day }}
            to {{ element.to_month }}-{{ element.to_day }}: {{ element.target_value }} CFS
        </li>
    {% endfor %}
</ul>

<div>
    <img src="/flowviz/{{ flow_target.id }}/raster/flow?cmap=spectral&title=Flow Rate (CFS)&logscale=True"></img>
    <img src="/flowviz/{{ flow_target.id }}/raster/e-flow-gap?cmap=bwr_r&title=Instream+flow+gap (CFS)&zero=True"></img>
</div>

<div>
    <img src="/flowviz/{{ flow_target.id }}/stats"></img>
    <img src="/flowviz/{{ flow_target.id }}/days"></img>
</div>

<div>
    <a href="/admin/flowviz/gradedflowtarget/{{ flow_target.id }}">Edit water right...</a>
</div>